<phpunit bootstrap="./phpunit.php">
    <testsuites>
        <testsuite name="Default">
            <directory>./src/Core/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="ARTEFAKT_COMPONENTS" value="build/components"/>
        <env name="ARTEFAKT_DOCUMENTS" value="build/documents"/>
        <env name="ARTEFAKT_CACHE" value="build/cache"/>
    </php>

    <logging>
        <log type="coverage-xml" target="build/coverage"/>
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Core/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
